<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie noclegu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p align="center"> <h2>Edycja noclegu</h2></p> <br>
<p><a href="#" th:href="@{/pokaz}" class="btn btn-secondary">Wstecz</a></p>
<form th:action="@{/aktualizuj}" th:object="${hotel}">
    <table class="table table-striped">
        <tr class="d-flex">
            <td class="col-2">Podaj nazwę</td>
            <td class="col-2"><input name="nazwa" th:field="*{nazwa}"></td>
        </tr>
        <tr class="d-flex">
            <td class="col-2">Podaj telefon</td>
            <td class="col-2"><input name="telefon" th:field="*{telefon}"></td>
        </tr>
        <tr class="d-flex">
            <td class="col-2">Podaj email</td>
            <td class="col-2"><input name="email" th:field="*{email}"></td>
        </tr>
        <tr class="d-flex">
            <td class="col-2">Podaj liczbę gwiazdek</td>
            <td class="col-2"> <input name="liczbaGwiazdek" th:field="*{liczbaGwiazdek}"> </td>
        </tr>
        <tr class="d-flex">
            <td class="col-2">Podaj opis</td>
            <td class="col-2"><input name="opis" th:field="*{opis}"></td>
            <input type="hidden" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>

