<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie hotelu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p align="center"> <h2>Dodawanie hotelu</h2></p> <br>
<form th:action="@{/dodaj}">
    <table class="table table-striped">
        <tr class="d-flex">
            <td class="col-2">Podaj nazwę</td>
            <td class="col-2"><input name="nazwa"></td>
        </tr>
        <tr class="d-flex">
            <td class="col-2">Podaj telefon</td>
            <td class="col-2"><input name="telefon"></td>
        </tr>
        <tr class="d-flex">
            <td class="col-2">Podaj email</td>
            <td class="col-2"><input name="email"></td>
        </tr>
        <tr class="d-flex">
            <td class="col-2">Podaj liczbę gwiazdek</td>
            <td class="col-2"> <input name="liczbaGwiazdek"> </td>
        </tr>
        <tr class="d-flex">
            <td class="col-2">Podaj opis</td>
            <td class="col-2"><input name="opis"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
    </table>
</form>
</body>
</html>

