<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<p align="center"> <h2>Lista noclegów</h2></p> <br>
<table class="table table-striped">
    <tr><th>Nazwa</th><th>Telefon</th><th>E-mail</th><th>Liczba gwiazdek</th><th>Opis</th><th>Kasuj</th><th>Aktualizuj</th></tr>
    <tr  th:each="wpis: ${hotele}"> <td th:text="${wpis.nazwa}">Nazwa</td>
        <td th:text="${wpis.telefon}">Telefon</td>
        <td th:text="${wpis.email}">E-mail</td>
        <td th:text="${wpis.liczbaGwiazdek}">Liczba gwiazdek</td>
        <td th:text="${wpis.opis}">Opis</td>
        <td><a href="#" th:href="@{/kasuj(id=${wpis.id})}" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i>Kasuj</a></td>
    <td><a href="#" th:href="@{/przekieruj(id=${wpis.id})}" class="btn btn-primary"><i class="fa fa-trash-o fa-lg"></i>Aktualizuj</a></td></tr>
</table>

<table class="table table-striped">
    <tr><td> Wyszukaj hotele wg nazwy</td><td><form action="http://localhost:8080/wyszukaj"><input name="kryterium"></td><td><input type="submit"></form></td></tr>

</table>

</body>
</html>
